/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  /*background-color: #f8f8f8;*/
  background: #1f1f1f;
}
#app {
  width: 100%;
}
#page-wrapper {
  padding: 0;
  min-height: 568px;
  width: 80%;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    margin: 0 0 0 250px;
  }
}
@media (max-width: 768px) {
  #page-wrapper {
    width: 100%;
    margin: 0;
  }
}
.navbar {
  background-color: #283643;
  margin: 0;
}
/* nacbar style */
.navbar-top-links {
  margin: 0;
}
.navbar-top-links li {
  display: inline-block;
}
/* sidebar style */
.sidebar {
  width: 20%;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    /*margin-top: 51px; modify at 2016-08-26 16:28, thlin*/
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
/* main-area style */
.main-area {
  padding: 0;
  margin: 0;
}
/* scroll-table style */
.scroll-table {
  padding-left: 0;
  margin-left: 0;
  overflow: auto;
}
/* FunA style */
.FunA-style {
  padding: 10px;
}
